<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="kickAround" class="com.ian.sblog.chapter7.advice.KickInterceptor"/>
    <bean id="kickAdviceBefore" class="com.ian.sblog.chapter7.advice.KickBeforeAdvice"/>
    <bean id="kickAdviceAfter" class="com.ian.sblog.chapter7.advice.KickAfterAdvice"/>
    <bean id="target" class="com.ian.sblog.chapter7.advice.NormalDaxia" />

    <bean id="daxia" class="org.springframework.aop.framework.ProxyFactoryBean"
        p:proxyInterfaces="com.ian.sblog.chapter7.advice.Daxia"
        p:interceptorNames="kickAround" p:optimize="true"
        p:target-ref="target" />

    <bean id="pmonitor" class="com.ian.sblog.chapter7.advice.ControllablePerformanceMonitor"/>
    <bean id="tr" class="com.ian.sblog.chapter7.advice.TransactionManager"/>
    <bean id="forumServiceTarget" class="com.ian.sblog.service.impl.ForumServiceImpl"/>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.ian.sblog.chapter7.advice.Monitorable"
          p:target-ref="forumServiceTarget"
          p:interceptorNames="pmonitor"
          p:proxyTargetClass="true" /> <!-- 表示用cglib方式创建代理 -->

</beans>