<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>
    <bean id="normalgongfu" class="com.ian.sblog.x4.chapter8.aspectj.NormalGongfu"/>
    <bean id="coolgongfu" class="com.ian.sblog.x4.chapter8.aspectj.CoolNormalGongfu"/>
    <bean class="com.ian.sblog.x4.chapter8.aspectj.pointcut.TestAspect"/>

</beans>